#whole-page{
    background-color: #eee3d2;
    font-family: 'tempus sans itc';
    
}

.nav-link{
    color: #eee3d2;
    padding: 50px;
    font-size: 32px;
}

#nav-bar{
    
    margin-top:-100px;
    margin-bottom: 75px;
    text-align: center;
    width: 100%;
    height: auto;
}

#header-img2{
    width: 100%;
    height: auto; 
    z-index: 0; 
}

#header-img3{
    position: absolute;
    margin-top: 40px;
    margin-left: -10%;
    border-radius: 50%;
    width:150px;
    height: auto;
    z-index: 1;
    
}
.sign-in:hover{
    transform: scale(1.5);
    
}

#flex-container{
    background-color:#7f473a;
    display: flex;
    flex-direction: row; 
    justify-content: space-evenly;
    align-items: center;
    flex-wrap:wrap;
    margin-top: 300px;   
    margin-bottom: 250px;
    width: 100%;
    height:600px;
    
}


#video{
    width: 600px;
    height: 333px;
}

#input-form{
   
    background-image: url(./Images/CupCoffeeopacity.jpg);
    font-weight: 800;
    width: 600px;
    height: 330px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 18px;
    text-align: center;
    color: #7f473a;
}

#checkboxes{
    margin-top: -25px;
}

#favcoffee{
    padding:0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    border-width: 2px;
    border-style:solid;
    border-color:  #7f473a;
    border-image: initial;
    border-radius: 75%;
}

#free{
    margin-top: 3px;
}

.info{
    margin-bottom: 2px;
}

#submit{
    color: #7f473a;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 3px;
}

#bottom{
    display: flex;
    flex-wrap: wrap;
    color: #eee3d2;
    background-image: url(./Images/The\ Coffe\ Bean\ Footer.jpg);
    background-size: cover;
    height:200px;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
}

#footer-contact{
    font-weight:bolder;
    font-size: 18px;
    margin-left: 18px;
}

#email-link{
    color:#eee3d2;
}

#top-link{
   
    font-size: 20px;
    text-align: center;
    color: #eee3d2;
    font-weight: bolder;

}
#bottom-img3{
   
    border-radius: 50%;
    width:150px;
    height: auto;
    z-index: 1;
}

#beans{
   display:flex;
   flex-wrap:wrap;
   justify-content:space-evenly;
   position: absolute;
   width: 100%;
   margin-bottom: 75px;
   margin-top: 25px;
}
   
.jumpingbeans {
    position: relative;
    background-image: url(./Images/1bean.jpg);
    border-radius: 45%;
    animation-name: jump;
    animation-direction:normal;
    animation-duration: 2s;
    animation-iteration-count: 2;
    height: 100px;
    width: 100px;
}

.jumpingbeans:hover{
    animation-name: hoverjump;
    animation-iteration-count: 1;
    animation-duration: 1s;
    
}
@keyframes hoverjump{
   
    from {
        margin-top:0%;
       
      }
    
      to {
        margin-bottom:100%;
       
      }
    
}


#jumpingbean1{
    /* left:0%; */
    animation-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
    transform: rotate(90deg);
}
#jumpingbean2{
    /* left:5%; */
    animation-timing-function:cubic-bezier(0.6, -0.28, 0.735, 0.045);
    transform: rotate(115deg);
}
#jumpingbean3{
    /* left:10%; */
    animation-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.335);
    transform: rotate(45deg);
}
#jumpingbean4{
    /* left:20%; */
    animation-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
}
#jumpingbean5{
    /* left:15%; */
    animation-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
    transform: rotate(115deg);
}
#jumpingbean6{
    /* left:50%; */
    animation-timing-function:cubic-bezier(0.6, 0.04, 0.98, 0.335);
}
#jumpingbean7{
    /* left:60%; */
    animation-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
    transform: rotate(90deg);
            }
#jumpingbean8{
    /* left:70%; */
    animation-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.335) ;
                }
#jumpingbean9{    
    /* left:80%; */
    animation-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045) ;
    transform: rotate(115deg);
    }
#jumpingbean10{
    /* left:87%; */
    animation-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
    transform: rotate(100deg);
}

@keyframes jump {
    0%{
        top: 0px;
    }
    50%{
        top:600px;
        
    }
    100%{
        top:0px;
    }
        }
 
        
@media only screen and (max-width: 414px) {
    #whole-page{
        background-color: #7f473a;
        color:#eee3d2;
    }
  
    #header-img3{
        margin-top: 275px;
        margin-left: -65%;
    }
    #flex-container{
        margin-bottom: 150px;
        height:auto;
       
    }
    #beans{
        display: none;
        
    }
    #input-form{
        margin-top:10px;
    }
    #footer-contact{
        margin-top: 30px;
    }
    #bottom{
        margin-top: -200px;
        background-image: none;                                      
    }
    #nav-bar{
        margin:5px;
    }

    #video{
        margin-top: -75px;
        width:100%;
    }
 
    #bottom-img3{
        display: none;
    }
 
}  
@media only screen and (max-width: 786px){
    #beans{
        margin-left: 5px;
    }
 
    #jumpingbean3{
        height:auto;
        display:none;
    }
    #jumpingbean5{
        display:none;
    }
    #jumpingbean7{
        display:none;
    }
    #jumpingbean9{
        display:none;
    }
    #jumpingbean10{
        display:none;
    }
  
}
